@model MyCloset.Models.Item

<h2 class="text-center mt-5">Editare item</h2>

<br />

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-3">

            <form method="post" asp-action="Edit" asp-controller="Items" asp-route-id="@Model.Id">
                <!--
                    Metoda 2 prin care se trimite id-ul catre Controller
                <input type="hidden" asp-for="Id" />  -->

                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="form-label">Nume Item</label>
                    <br />
                    <input asp-for="Name" class="form-control" />

                    <span asp-validation-for="Name" class="text-danger"></span>

                    <br /><br />
                </div>

                <div class="form-group">
                    <label asp-for="Caption" class="form-label">Descriere Item</label>
                    <br />
                    <textarea asp-for="Caption" class="form-control"></textarea>

                    <span asp-validation-for="Caption" class="text-danger"></span>

                    <br /><br />
                </div>

                <div class="form-group">
                    <label for="CategoryId">Selectati categoria</label>
                    <br />
                    <select asp-for="CategoryId" asp-items="Model.Categ" class="form-control">
                        <option value="">Selectati categoria</option>
                    </select>

                    <span asp-validation-for="CategoryId" class="text-danger"></span>

                    <br />
                </div>

                @if (@Model.Image.Contains(".mp4") || @Model.Image.Contains(".mov"))
                {
                    <video width="550" height="300" controls>
                        <source src="@Model.Image" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                }
                else
                {
                    <img src="@Model.Image" alt="Item Image" style="width: 50%; height: 100%; object-fit: cover" />
                }

                <input type="hidden" asp-for="Image" />

                <br />
                <br />


                <button class="btn btn-sm btn-success" type="submit">Modifica articol</button>

            </form>
        </div>
    </div>
</div>
