@model MyCloset.Models.Item



@* Afisarea unui item impreuna cu categoria din care face *@

<br />

<div class="card">

    <partial name="ItemsInfo" model="Model"></partial>

    <div class="d-flex flex-row justify-content-between">

        <a class="btn btn-success" asp-controller="Items" asp-action="Edit" asp-route-id="@Model.Id">Editeaza item</a>

        <form method="post" asp-controller="Items" asp-action="Delete" asp-route-id="@Model.Id">

            <button class="btn btn-danger" type="submit">Sterge item</button>

        </form>

    </div>

</div>

<br />
<br />


@* Afisare comentarii impreuna cu butoanele de editare si stergere *@

@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>

            <div class="col-md-8">

                <div>

                    <p>@comm.Content</p>
                    <small>@comm.Date</small>

                </div>
                <br>

                <div class="d-flex">

                    <div>

                        <a class="btn btn-outline-primary" asp-controller="Comments" asp-action="Edit" asp-route-id="@comm.Id">
                            <i class="bi bi-pencil-square"></i> Editeaza
                        </a>

                    </div>

                    <div>

                        <form method="post" asp-controller="Comments" asp-action="Delete" asp-route-id="@comm.Id">

                            <button class="btn btn-outline-danger" type="submit"><i class="bi bi-trash"></i>Sterge</button>

                        </form>

                    </div>

                </div>

                <br />

            </div>

            <div class="col-md-2"></div>

        </div>

    </div>
}


@* Afisarea formularului in care se poate adauga un comentariu *@

<div class="container">

    <div class="row">

        <div class="col-md-2"></div>

        <div class="col-md-8">

            <div class="card">

                <form method="post" asp-controller="AItems" asp-action="Show">

                    <div class="card-body">

                        <input type="hidden" name="ArticleId" value="@Model.Id" />

                        <label>Continut comentariu</label>
                        <br />

                        <textarea class="form-control" name="Content"></textarea>

                        <span asp-validation-for="Caption" class="text-danger"></span>
                        <br /><br />

                        <button class="btn btn-success " type="submit">Adauga comentariul</button>

                    </div>

                </form>

            </div>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>

