@model MyCloset.Models.Item

<div class="card-body">

    <h3 class="card-title alert-success py-3 px-3 rounded-2">@Model.Name</h3>

    @if (@Model.Image.Contains(".mp4") || @Model.Image.Contains(".mov"))
    {
        <video width="550" height="300" controls>
            <source src="@Model.Image" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    }
    else
    {
        <img src="@Model.Image" alt="Item Image" style="width:
        50%; height: 100%; object-fit: cover" />
    }

    <div class="card-text">@Model.Caption</div>

    <p>Likes: @Model.Likes</p>
    <form asp-action="Like" asp-controller="Items" method="post">
        <input type="hidden" name="id" value="@Model.Id" />
        <button type="submit">Like</button>
    </form>

    <div class="d-flex justify-content-between flex-row mt-5">

        <div><i class="bi bi-globe"></i> @Model.Category.CategoryName</div>

        @* de adaugat username-ul userului care a adaugat item-ul

        <div><i class="bi bi-person"></i> @Model.User.UserName</div>

        *@

        <span class="alert-success">@Model.Date</span>

    </div>

</div>